@font-face {
    font-family: Wooden;
    src: url('/static/fonts/Wooden.ttf') format('truetype');
}

@font-face {
    font-family: Vezitsa;
    src: url('/static/fonts/Vezitsa.ttf') format('truetype');
}

html {
    display: flex; /* осевое координирование блоков */
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

ul {
    font-family: sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #991f1b;
}

body {
    background-color: #97a985;
    background-attachment: fixed;
    width: 100%;
}

.content {
    text-align: justify;
    white-space: pre-wrap;
}

.content h2 {
    text-align: center;
}

.content img {
    margin: 15px;
    float: right;
}

p, h2, h3, h4, a {
    font-family: Vezitsa;
    color: #991f1b;
}

.news_content {
    font-size: 18px;
    text-align: justify;
    width: 50%;
    white-space: pre-wrap;
}

.card-text {
    background: #dff1f4; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: #b7cdf5;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.news {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    font-size: 24px;
    line-height: 90%;
}
.news p {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    font-size: 24px;
    font-family: Vezitsa, serif;
    color: #991f1b;

}
.news span{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    font-size: 24px;
    font-family: Vezitsa, serif;
    color: #991f1b;

}

h1 {
    text-align: center;
    padding: 20px;
    font-family: Wooden;
    color: #991f1b;
}

.list {
    text-align: center;
    font-size: 30px;
}

.contact {
    /*white-space: pre-wrap;*/
    font-size: 22px;
    color: darkblue;
}

.container-fluid {
    background-color: #693622;
}

.nav-link {
    font-size: 20px;
    color: white;
    font-family: Vezitsa;
}

.nav-link:hover {
    color: #9d9898;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.priest h2 {
    text-align: center;
    margin-bottom: 25px;
    color: saddlebrown;
}

.priest {
    display: flex;
    margin-bottom: 40px;
}

.priest img {
    /*float: inside;*/
    width: 30%;
    height: 30%;
    float: right;
    margin: 10px 50px  10px 10px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #7b7373;
}

.priest p {
    color: #991f1b;
    font-size: 22px;
}

.prst  {
    text-align: center;
    color:#991f1b;
}

.icon-content {
    font-size: 18px;
    text-align: justify;
    color: #991f1b;
    /*white-space: pre-wrap;*/
}

.icon-content p {
    text-align: justify;
    /*white-space: normal;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

.icon-content img {
    width: 40%;
    height: auto;
    float: right;
    margin: 10px;
    border-radius: 20px;
}

.h-img {
    width: 100%;

}

h4 {
    margin-bottom: 20px;
    color: #991f1b;
    text-align: center;
    font-size: 28px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #693622;
    /*padding-top: 120px;*/

}

.page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.index-content {
    color: #991f1b;
    font-size: 22px;
    text-align: justify;
}

.btn a{
    color: #991f1b;
}

.address p {
    font-size: 24px;
    color: #991f1b;
}

.address {
    display: flex;
}

.addr{
    font-size: 24px;
}

iframe {
    margin-left: 50px;
}

.service {
    font-size: 22px;
}

.h-img {
    background-image: url("/static/img/header.jpg");
}

.news span{
    color: #6c1111;
    margin-left: -15px;
}

table{
    font-size: 20px;
    color: #991f1b;
    margin-bottom: 30px;
}
@media screen{
    table{
        overflow-y: scroll;
    }


}

table td {
    padding: 10px;
    font-weight: 500;
}
table, th, td {
  border: 3px solid #6c1111;
}