li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

ul {
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;

}

.nav{
    background-color: antiquewhite;
}

body{
    background-image: url("/static/img/krasivo-38.jpg");
}