<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="/static/style.css">
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
{% block header %}
    <img class="h-img" src="/static/img/header.jpg" alt="">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark" aria-label="Third navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Главная страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('icon') }}">Храмовая икона</a>
                        </li>
                        {#                        <li class="nav-item">#}
                        {#                            <a class="nav-link" href="{{ url_for('about') }}">Наш храм</a>#}
                        {#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('timetable') }}">Расписание богослужений</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('news') }}">Новости храма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('priest') }}">Настоятель храма</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('contacts') }}">Контакты</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}

            <footer class="text-center text-white">
                <div class="container p-4 pb-0">
                    <section class="">
                        <p class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-outline-light btn-rounded">
                                <a href="{{ url_for('login') }}">Вход</a>
                            </button>
                        </p>
                    </section>
                </div>

                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 Copyright: A.Halasny
                </div>
            </footer>

{% endblock %}
{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}

</body>
</html>