{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="container" >
        <div class="col-md-12 addr">

            <h3>Мы находимся</h3>
            <p>г. Полоцк,
                ул. Мариненко, 24, помещение 88
                <br><p>Телефон: (375) 29 573-56-41</p>
            <div class="address">
            <p class="contact">
                <b>Режим работы</b>
                <br>Понедельник - выходной
                <br>Вторник - 10.00 - 16.00
                <br>Среда - 10.00 - 16.00
                <br>Четверг - выходной
                <br>Пятница - 10.00 - 16.00
                <br>Суббота - 10.00 - 16.00
                <br>Воскресенье - 10.00 - 16.00

            </p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2261.6044491149974!2d28.76024701603809!3d55.
        46956202126851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c491a7832c9801%3A0xcdf4187d95d83d40!2z0KXRg
        NCw0Lwg0YHQstGP0YLQvtC5INCx0LvQsNC20LXQvdC90L7QuSDQmtGB0LXQvdC40Lgg0J_QtdGC0LXRgNCx0YPRgNCz0YHQutC-0Lk!5e0!3m2!1s
        ru!2sby!4v1674832322283!5m2!1sru!2sby"
                width="450" height="300" style="border-radius:15px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
   </div>

</div>


{% endblock %}