{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="container">
        <div class="col-md-12">
            <h3>Мы находимся</h3>
            <p>г. Полоцк,
                ул. Мариненко, 24, помещение 88</p>
            <p><span>Телефон :</span> + 375 29 573-56-41</p>
            <p class="contact">
                <b>Режим работы</b>
                Понедельник - выходной
                Вторник - 10.00 - 16.00
                Среда - 10.00 - 16.00
                Четверг - выходной
                Пятница - 10.00 - 16.00
                Суббота - 10.00 - 16.00
                Воскресенье - 10.00 - 16.00

            </p>
        </div>


{#        <div class="col-md-4 ma">#}
{#            <h3>Мы на карте</h3>#}
{#        </div>#}
{#        <div style="position:relative;overflow:hidden;"><a#}
{#                href="https://yandex.by/maps/org/khram_svyatoy_blazhennoy_ksenii_peterburgskoy/63171879544/?utm_medium=mapframe&utm_source=maps"#}
{#                style="color:#eee;font-size:12px;position:absolute;top:0px;">Храм святой блаженной Ксении#}
{#            Петербургской</a><a#}
{#                href="https://yandex.by/maps/10275/polotsk/category/orthodox_church/53436519791/?utm_medium=mapframe&utm_source=maps"#}
{#                style="color:#eee;font-size:12px;position:absolute;top:14px;">Православный храм в Полоцке</a>#}
{#            <iframe src="https://yandex.by/map-widget/v1/?ll=28.763055%2C55.469377&mode=poi&poi%5Bpoint%5D=28.762582%2C55.469582&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D63171879544&utm_source=main_stripe_big&z=19.8"#}
{#                    width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>#}
{#        </div>#}

    </div>




{% endblock %}