{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="icon-content">
            <img src="/static/img/xseniya.png"
                 alt="">
            <h4>Святая блаженная Ксения Петербургская</h4>
            <p>Блаженная Ксения Петербургская еще при жизни и на протяжении XIX-XX веков почиталась скорой
                помощницей и чудотворицей. Ради спасения и любви к ближним она взяла на себя подвиг казаться безумною.
                За свои труды, молитвы, пощения, странничества и претерпевание со смирением насмешек блаженная
                получила от Бога дар прозорливости и чудотворения.</p>
            <p>Ее часовня на Смоленском кладбище была испещрена благодарностями за содеянные чудеса по ее
                молитвенному предстательству. На Поместном Соборе Русской Православной Церкви в июне 1988 года блаженную
                Ксению Петербургскую причислили к лику святых.</p>
            <p>Блаженная Ксения родилась между 1719 и 1730 годами и свой спасительный подвиг несла в Петербурге.
                Мужем Ксении был певчий придворного хора Андрей Феодорович Петров. О детстве и юности блаженной
                ничего не известно, память народная сохранила лишь то, что связано с началом подвига юродства Ксении
                – внезапная смерть мужа, умершего без христианского покаяния.</p>
            <p>Потрясенная этим страшным событием, 26-летняя вдова решила начать труднейший христианский подвиг –
                казаться безумною, дабы, принеся в жертву Богу самое ценное, что есть у человека – разум, умолить
                Создателя о помиловании внезапно скончавшегося супруга. Ксения отказалась от всех благ мира,
                отреклась от звания и богатства, и более того – от себя самой. Она оставила свое имя и, приняв имя
                супруга, прошла под его именем весь свой крестный путь, принеся на алтарь Божий дары всеспасительной
                любви к ближнему.</p>
            <p>Когда в день похорон мужа Ксения надела на себя его одежду: камзол, кафтан, штаны и картуз и в таком
                костюме пошла провожать его гроб, родственники мужа и знакомые Ксении решили, что смерть
                Андрея Феодоровича помрачила ее сознание. Они весьма сожалели о ней. Ксения же, как потерявшая
                рассудок, утешала их говоря:
                «Андрей Феодорович не умер, но воплотился в меня, Ксению, которая давно умерла». Так началось ее
                скитание по улицам Петербурга.</p>
            <p>Дом, оставшийся ей после смерти супруга, она решила подарить Параскеве Антоновой, снимавшей у нее
                комнату, имущество свое раздать бедным, деньги же снести в церковь за упокой души «рабы Божией
                Ксении». Узнав о таком решении, родственники мужа подали прошение начальству умершего Андрея
                Феодоровича, прося не позволять Ксении в безумстве раздавать свое имущество. Однако после
                соответствующего обследования было вынесено заключение, что она совершенно здорова и вправе
                распоряжаться своим имуществом.
                После этого блаженная Ксения раздала все, что имела, и в одном только мужнином костюме вышла на
                улицу на свое подвижническое странствие. Целыми днями бродила она по Петербургу, зимой и летом, в зной и
                стужу, подвергаясь всяческим нападкам и насмешкам. Ее странный костюм и невразумительные речи,
                ее кротость и незлобивость давали повод злым людям, особенно шалунам мальчишкам, глумиться над ней.
                Но блаженная Ксения, непрестанно молясь, безропотно несла свой спасительный подвиг.</p>
            <p>К этому времени относится начало строительства новой каменной церкви на Смоленском кладбище.
                Воздвигнутое строение было уже весьма высоким, и каменщикам приходилось сначала поднимать кирпич
                на леса, а потом класть его в кладку. Блаженная Ксения решила тайно помогать строителям. Целыми
                ночами, в любую погоду, поднимала она кирпич и складывала его на лесах. Наутро рабочие только дивились
                случившемуся. Наконец они решили узнать, кто же их незримый помощник и, придя ночью на стройку,
                обнаружили, что это известная всей петербургской стороне «безумная» Ксения.</p>
            <p>Мало-помалу наиболее чуткие христиане стали замечать, что Ксения не просто глупая побирушка, а есть
                в ней что-то особенное. Милостыню, которую ей предлагали, брала она не у каждого, но у людей добрых и
                сердечных. Всегда беря только копейку, она тут же отдавала ее таким же нищим, как и она сама.
                После того как мужнина одежда от времени истлела, она стала одеваться зимой и летом в жалкие
                лохмотья, а на босых, распухших от мороза ногах, носила рваные башмаки. Многие предлагали ей теплую
                одежду и обувь, но блаженная не соглашалась ничего брать и неизменно одевалась либо в красную кофту
                и зеленую юбку, либо в зеленую кофту и красную юбку.</p>
            <p>Днем Ксения, как безумная, бродила по городу, а на ночь, укрываясь от глаз людских, выходила за
                город, в поле, и там пребывала в молитве, попеременно кладя поклоны на все четыре стороны света. В поле,
                по ее словам, присутствие Божие было «более явственно». Вскоре окружающие стали обращать внимание, что в
                ее словах и поступках часто кроется глубокий смысл. Замечали, если Ксения просила что-нибудь, это было
                знаком грядущей невзгоды или беды для того, у кого спрошено и, наоборот, если кому подавала, то
                получателя в скором времени ждала нечаянная радость.
                Позднее, когда блаженная стала почитаться за прозорливицу, стоило ей появиться на улицах и рынках
                города, как всякий знавший ее предлагал ей свои услуги. Все наперебой упрашивали «Андрея
                Феодоровича» взять что-нибудь или отведать от предлагаемого товара, ибо подмечено было, если Ксения
                берет что-то у хозяина, торговля его бывает очень удачной.</p>
            <p>Матери, завидя Ксению, спешили к ней со своими детьми с просьбой благословить или только погладить
                ребенка по голове, убежденные, что одно прикосновение блаженной исцелит его.</p>
            <p>Своим великим смирением, подвигом духовной и телесной нищеты, любви к ближним и молитвою стяжала
                Ксения благодатный дар прозорливости. Этим своим даром многим она помогала в деле жизненного устройства
                и душевного спасения.</p>
            <p>Известен случай, когда блаженная Ксения позаботилась о благе и спасении еще не родившегося младенца.
                Пришла она как-то к давнишней знакомой Параскеве Антоновой, которой подарила свой дом, и говорит:
                «Вот ты тут сидишь да чулки штопаешь, а не знаешь, что тебе Бог сына послал! Иди скорее на
                Смоленское кладбище!» Параскева была весьма смущена этой нелепицей, однако послушалась блаженную и
                пошла. У самого кладбища увидела она толпу народа и, подойдя, узнала, что какой-то извозчик сбил с ног
                беременную женщину. Здесь же на земле женщина родила мальчика, а сама скончалась. Все пытались узнать,
                кто это женщина и где ее родственники, но не преуспели в этом. Увидев в случившемся перст Божий,
                Параскева взяла мальчика к себе, усыновила и воспитала во всей строгости христианской жизни. Сын ее до
                глубокой старости содержал свою мать и весьма почитал ее. Параскева же благодарила Бога и рабу Божию
                Ксению за ее повеление принять на воспитание сына.</p>
            <p>Блаженная Ксения подвизалась в подвиге юродства около 45 лет, можно утверждать, что она отошла ко
                Господу в самом начале девятнадцатого века. Погребена была святая угодница Божия на Смоленском кладбище
                Петербурга, где в свое время помогала строить церковь во имя иконы Смоленской Божией Матери.</p>
            <p> Со дня кончины блаженной прошло около двух веков, однако творимые по молитвам угодницы чудеса не
                иссякают, и народная память о ней не исчезает. В 1902 году над могилой блаженной Ксении построили новую
                часовню с мраморным иконостасом и надгробием. Она всегда была открыта для совершения панихид, и нигде не
                служилось столько панихид, как на могиле блаженной Ксении.</p>
            <p>В настоящее время часовня отреставрирована и вновь открыта для доступа и молитвы. Молитвами блаженной
                Ксении да даст Господь свою милость и благословение всем с верою и любовию притекающим к ее
                небесному предстательству.</p>
            <p>Аминь.</p>

        </div>
    </div>
{% endblock %}