{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Храм Святой Блаженной Ксении Петербургской</h1>
        <p>
            Долгожданным и значимым стало открытие 6 февраля 2020г. первого православного храма в микрорайоне Мариненко
            г. Полоцка, освященного в честь святой блаженной Ксении Петербургской,
            и Центра гуманитарной помощи «Благо Дать» Прихода храма Покрова Пресвятой Богородицы г. Полоцк Полоцкой
            епархии.</p>
        <p>В храм приходят, в основном, жители микрорайона «Мариненко» разного возраста.
            Они сначала участвуют в богослужении, а потом в непринужденной атмосфере общаются со священнослужителем
            Отцом Алексием и матушкой Татьяной.
        </p>
        <p>
            Мы стараемся создать для всех пришедших комфортные условия, поэтому люди, побывав в нашем храме однажды,
            приходят снова. Мы рады семьям и мамам с детьми, ребята у нас играют, рисуют.
            Мы приглашаем всех присоединиться к дружным прихожанам храма.
        </p>


    </div>


{% endblock %}
