{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
    <div>
        {% for news in news_total|sort(attribute='news_date', reverse=true) %}
            <p>Создано {{ news['news_date'].strftime('%d %B %Y') }}</p>
            <a href="{{ url_for('news_page', nws_id=news['id']) }}" class="card-link">{{ news['news_headline'] }}</a>
            <br><br>
        {% endfor %}
    </div>
        <br>
        {% for i in range(string_result) %}
            <p>{{ pub_date[i].text }}</p>
            <p><a href="https://eparhia992.by/{{ name_result[i].get('href') }}">{{ name_result[i].text }}</a></p>
            <br>
        {% endfor %}
    </div>

{% endblock %}