{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="priest">
            <h2>Алексей Викторович Кушнеревич</h2>
            <img src="/static/img/priest.png" alt="">
            <p>
                Дата хиротонии: 08.08.2010г.
                Духовное образование:
                Минская Духовная Семинария (2010г.)
                Клирик Прихода храма Покрова Пресвятой Богородицы г. Полоцк

                Приходы:
                Приход храма Святой Блаженной Ксении Петербургской, г. Полоцк
                Приход храма Преображения Господня, д. Шпаковщина
                Приход храма Святителя Николая Чудотворца, д. Бабыничи

            </p>

        </div>

    </div>


{% endblock %}