{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="prst">
        <h1>{{ title }}</h1>
        <h2>Алексей Викторович Кушнеревич</h2>
        </div>
        <div class="priest">

            <img src="/static/img/priest.png" alt="">

            <p>
                <br>Дата хиротонии: 08.08.2010г.
                <br>Духовное образование:
                <br>Минская Духовная Семинария (2010г.)
                <br>Клирик Прихода храма Покрова Пресвятой Богородицы г. Полоцк
                <br>
                <br>Приходы:
                <br>Приход храма Святой Блаженной Ксении Петербургской, г. Полоцк
                <br>Приход храма Преображения Господня, д. Шпаковщина
                <br>Приход храма Святителя Николая Чудотворца, д. Бабыничи

            </p>

         </div>

    </div>


{% endblock %}