{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
{#        <div>#}
{#            {% for service in services_total %}#}
{#                <p>Создано {{ service.timetable_date_create.strftime('%d %B %Y') }}</p>#}
{#                <h3>Расписание богослужений на {{ service.timetable_date }}</h3>#}
{#                <p class="service">{{ service.timetable_content }}</p>#}
{#                <h3>{{ service.time_service_1 }}</h3>#}
{#                <p class="service">{{ service.content_time_service_1 }}</p>#}
{#                <h3>{{ service.time_service_2 }}</h3>#}
{#                <p class="service"> {{ service.content_time_service_2 }}</p>#}
{#                <h3>{{ service.time_service_3 }}</h3>#}
{#                <p class="service"> {{ service.content_time_service_3 }}</p>#}
{#                <br><br>#}
{#            {% endfor %}#}
{#        </div>#}

    </div>

{% endblock %}