{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        <table style="width:100%">

            <tr>
                <td>22 марта <br> (среда)
                </td>
                <td>Святых сорока мучеников Севастийских</td>
                <td>09:00 – Часы, Изобразительны, Вечерня с Литургией Преждеосвященных Даров.<br><br></td>
            </tr>
            <tr>
                <td>25 марта <br> (суббота)</td>
                <td>Суббота 4-й седмицы Великого поста. Поминовение усопших Прп. Феофана исп., Григория Двоеслова</td>
                <td>09:00 – Божественная литургия, Панихида. <br>
                    Вечернего богослужения в храме не будет! Служба и СОБОРОВАНИЕ в Бабыничах и Шпаковщине!<br><br></td>
            </tr>
            <tr>
                <td>26 марта <br> (воскресенье)</td>
                <td>Неделя 4-я Великого поста, Прп. Иоанна Лествичника</td>
                <td>09:00 – Божественная литургия (свт. Василия Великого); Занятия в Воскресной группе. <br>
                    <b>18:00 – ПАССИЯ</b> <br><br></td>
            </tr>
            <tr>
                <td>30 марта <br> (четверг)</td>
                <td>Четверток Великого канона. Прп. Алексия, человека Божия</td>
                <td>17:00 – Чтение покаянногоканона прп. Андрея Критского. Мариино стояние.<br><br></td>
            </tr>
        </table>
    </div>

{% endblock %}